# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [17]:
!pip install pandas_datareader

import pandas as pd
import numpy as np
import pandas_datareader.data as web

Collecting pandas_datareader
  Downloading pandas_datareader-0.4.0-py2.py3-none-any.whl (69kB)
Collecting requests-file (from pandas_datareader)
  Downloading requests-file-1.4.2.tar.gz
Collecting requests-ftp (from pandas_datareader)
  Downloading requests-ftp-0.3.1.tar.gz
Requirement already satisfied: requests>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: pandas>=0.17.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from requests-file->pandas_datareader)
Requirement already satisfied: python-dateutil>=2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas_datareader)
Building wheels for collected packages: requests-file, requests-ftp
  Running setup.py bdist_wheel for requests-file: started
  Running setup.py bdist_wheel for requests-file: finished with status 'done'
  Stored in directory: C:\Users\kumar.iyer\AppData\Local\pip\Cache\wheels\3e\34\3a\c2e634ca7b545510c1b3b7d94dea084e5fdb5f33558f3c3a81
  Running setup.py bdist_wheel for requests-ftp: started
  Running setup.py bdist_wheel for requests-ftp: finished with status 'done'
  Stored in directory: C:\Users\kumar.iyer\AppData\Local\pip\Cache\wheels\76\fb\0d\1026eb562c34a4982dc9d39c9c582a734eefe7f0455f711deb
Successfully built requests-file requests-ftp
Installing collected packages: requests-file, requests-ftp, pandas-datareader
Successfully installed pandas-datareader-0.4.0 requests-file-1.4.2 requests-ftp-0.3.1

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [12]:
date_range = pd.date_range('2015-01-01', pd.datetime.now())

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-13',
               '2017-05-14', '2017-05-15', '2017-05-16', '2017-05-17',
               '2017-05-18', '2017-05-19'],
              dtype='datetime64[ns]', length=870, freq='D')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [14]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [27]:
df = web.DataReader(stocks, "google", date_range[0], pd.datetime.now())
print(df)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 599 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-01-02 00:00:00 to 2017-05-18 00:00:00
Minor_axis axis: AAPL to TSLA

### Step 5.  What is the type of structure of df ?

In [28]:
print(type(df))

<class 'pandas.core.panel.Panel'>

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [29]:
print(df.items)

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [30]:
vol = df['Volume']
vol.head()

                  AAPL        IBM       LNKD       TSLA
Date
2015-01-02  53204626.0  5525466.0  1203743.0  4764443.0
2015-01-05  64285491.0  4880389.0  1400562.0  5368477.0
2015-01-06  65797116.0  6146712.0  2006546.0  6261936.0
2015-01-07  40105934.0  4701839.0   985016.0  2968390.0
2015-01-08  59364547.0  4241113.0  1293955.0  3442509.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [31]:
vol.groupby(pd.TimeGrouper('W')).agg(np.sum)

                   AAPL         IBM        LNKD        TSLA
Date
2015-01-04   53204626.0   5525466.0   1203743.0   4764443.0
2015-01-11  283252615.0  24458400.0   7203125.0  22709607.0
2015-01-18  304226647.0  23263206.0   7084168.0  30799137.0
2015-01-25  198737041.0  31244856.0   5549477.0  16215501.0
2015-02-01  465842684.0  32928061.0   5810679.0  15720217.0
2015-02-08  270757404.0  22440201.0  16092363.0  19047685.0
2015-02-15  303206785.0  18164980.0  11709543.0  40472677.0
2015-02-22  194354942.0  14110255.0   5194957.0  17829482.0
2015-03-01  368216362.0  22941428.0   6523468.0  29367794.0
2015-03-08  246938492.0  21117732.0   6043182.0  28165809.0
2015-03-15  326514045.0  26136198.0   5861737.0  26874878.0
2015-03-22  266672975.0  25685384.0   5948486.0  28088482.0
2015-03-29  209326175.0  23579149.0   4377282.0  24744778.0
2015-04-05  162031791.0  16765755.0   3663021.0  23921074.0
2015-04-12  182207413.0  13917173.0   6606685.0  30974693.0
2015-04-19  171186168.0  17538333.0   5825878.0  12865556.0
2015-04-26  207440679.0  35441631.0   6308884.0  20693856.0
2015-05-03  420972321.0  21878575.0  26710597.0  30887629.0
2015-05-10  271891981.0  16799493.0  18141418.0  29626547.0
2015-05-17  208301514.0  13436612.0  10791029.0  24899355.0
2015-05-24  217297426.0  11939613.0  11435966.0  14976744.0
2015-05-31  198148567.0  12441901.0   5648545.0  14343448.0
2015-06-07  170840884.0  13868211.0  14840455.0  11897012.0
2015-06-14  220114589.0  18364270.0   8004145.0  14548989.0
2015-06-21  198525255.0  20763340.0   5651587.0  14929489.0
2015-06-28  195594004.0  20940396.0   4066543.0  17531828.0
2015-07-05  150981872.0  12979215.0   6396414.0  15830998.0
2015-07-12  275718368.0  18144037.0   6451304.0  22393071.0
2015-07-19  189245034.0  17138508.0   7862831.0  13509641.0
2015-07-26  344269021.0  37124368.0   7423937.0  19255837.0
...                 ...         ...         ...         ...
2016-10-30  210225569.0  16009787.0   6034117.0  28203302.0
2016-11-06  156346518.0  15168705.0   4625144.0  23804757.0
2016-11-13  207268979.0  25293012.0   5893805.0  26049602.0
2016-11-20  197674051.0  16166649.0   7611678.0  23986074.0
2016-11-27   94132421.0  11269395.0   5234914.0  17222395.0
2016-12-04  155499850.0  19371900.0   7786476.0  21684267.0
2016-12-11  151989664.0  17154430.0   8214555.0  18842365.0
2016-12-18  195015700.0  23957905.0         NaN  20430143.0
2016-12-25  113322891.0  13210055.0         NaN  21166336.0
2017-01-01   84828531.0   7771322.0         NaN  18385776.0
2017-01-08  103845468.0  11943568.0         NaN  28576313.0
2017-01-15  138810760.0  16711455.0         NaN  21173453.0
2017-01-22  116347987.0  26976849.0         NaN  20323067.0
2017-01-29  124748449.0  24899290.0         NaN  22693209.0
2017-02-05  249781248.0  16959276.0         NaN  16562505.0
2017-02-12  136449154.0  15458786.0         NaN  23180267.0
2017-02-19  136667496.0  15588234.0         NaN  32657156.0
2017-02-26   87908859.0  13083458.0         NaN  37518597.0
2017-03-05  127936976.0  14713542.0         NaN  28629510.0
2017-03-12   99672282.0  18286748.0         NaN  17489184.0
2017-03-19  121539506.0  20678038.0         NaN  29581526.0
2017-03-26  129673979.0  16816029.0         NaN  23549643.0
2017-04-02  127008757.0  15950463.0         NaN  25337622.0
2017-04-09  105416154.0  20657982.0         NaN  42004313.0
2017-04-16   87485653.0  15164240.0         NaN  28724351.0
2017-04-23   89248503.0  41445102.0         NaN  21731566.0
2017-04-30   91153780.0  22786106.0         NaN  24490304.0
2017-05-07  175351768.0  28938895.0         NaN  43675062.0
2017-05-14  173470543.0  28688536.0         NaN  31300046.0
2017-05-21  130394090.0  18225026.0         NaN  24140229.0

[125 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [32]:
vol[vol.index.year == 2015]

                   AAPL         IBM       LNKD        TSLA
Date
2015-01-02   53204626.0   5525466.0  1203743.0   4764443.0
2015-01-05   64285491.0   4880389.0  1400562.0   5368477.0
2015-01-06   65797116.0   6146712.0  2006546.0   6261936.0
2015-01-07   40105934.0   4701839.0   985016.0   2968390.0
2015-01-08   59364547.0   4241113.0  1293955.0   3442509.0
2015-01-09   53699527.0   4488347.0  1517046.0   4668295.0
2015-01-12   49650790.0   4187638.0  1654565.0   5950280.0
2015-01-13   67091928.0   4377510.0  1583644.0   4477320.0
2015-01-14   48956588.0   4690294.0  1366306.0  11551855.0
2015-01-15   60013996.0   4251723.0  1370651.0   5216524.0
2015-01-16   78513345.0   5756041.0  1109002.0   3603158.0
2015-01-20   49899907.0   8392773.0  1020403.0   4503182.0
2015-01-21   48575897.0  11897123.0  1193960.0   4153043.0
2015-01-22   53796409.0   6120113.0  1419139.0   4116905.0
2015-01-23   46464828.0   4834847.0  1915975.0   3442371.0
2015-01-26   55614979.0   7888143.0  1859946.0   3234522.0
2015-01-27   95568749.0   5659568.0   898014.0   2781024.0
2015-01-28  146477063.0   4495933.0   939484.0   3149606.0
2015-01-29   84436432.0   8320847.0   799425.0   3548106.0
2015-01-30   83745461.0   6563570.0  1313810.0   3006959.0
2015-02-02   62739100.0   4712247.0  1111183.0   4149186.0
2015-02-03   51915749.0   5539406.0  2394409.0   4826244.0
2015-02-04   70149743.0   3678459.0  1714937.0   3305377.0
2015-02-05   42246245.0   5253637.0  3951653.0   3522947.0
2015-02-06   43706567.0   3256452.0  6920181.0   3243931.0
2015-02-09   38889797.0   3057726.0  3039390.0   3472423.0
2015-02-10   62008506.0   4440614.0  2645784.0   5390542.0
2015-02-11   73561797.0   3626658.0  2159902.0   9769102.0
2015-02-12   74474466.0   3333063.0  1871627.0  15649607.0
2015-02-13   54272219.0   3706919.0  1992840.0   6191003.0
...                 ...         ...        ...         ...
2015-11-18   46163404.0   4130353.0  1348598.0   2805192.0
2015-11-19   42908179.0   3545420.0  1458945.0   2499363.0
2015-11-20   34103529.0   5153279.0  1032279.0   4388932.0
2015-11-23   32266736.0   5137720.0   963663.0   2524994.0
2015-11-24   42426855.0   3358823.0  1357089.0   2452304.0
2015-11-25   21388308.0   3238166.0   809490.0   3990779.0
2015-11-27   13043720.0   1415840.0   449278.0   1949127.0
2015-11-30   37658671.0   4386853.0  1264619.0   2585753.0
2015-12-01   34700991.0   4187445.0  1414323.0   3728287.0
2015-12-02   33198964.0   3713061.0  1379105.0   2975721.0
2015-12-03   41569509.0   5909588.0  1483677.0   2939564.0
2015-12-04   57776977.0   4571608.0  1207659.0   2573603.0
2015-12-07   32084249.0   3279376.0  1493068.0   3144223.0
2015-12-08   34309450.0   3905155.0  1381659.0   2687636.0
2015-12-09   46361357.0   4614993.0  1639851.0   3057753.0
2015-12-10   29212727.0   4222329.0  1330402.0   2071692.0
2015-12-11   46886161.0   5333767.0  1886120.0   3268726.0
2015-12-14   64318732.0   5116906.0  1122076.0   2827068.0
2015-12-15   53323105.0   4238546.0  1220394.0   2244424.0
2015-12-16   56238467.0   4345474.0  1104741.0   5104341.0
2015-12-17   44772827.0   4089539.0  1075439.0   3298638.0
2015-12-18   96453327.0  10026106.0  1593948.0   3014170.0
2015-12-21   47590610.0   5617475.0   649609.0   1953174.0
2015-12-22   32789367.0   4263828.0   631395.0   1961495.0
2015-12-23   32657354.0   5164916.0   700584.0   1554979.0
2015-12-24   13596680.0   1495226.0   205894.0    710277.0
2015-12-28   26704210.0   3143412.0   470291.0   1901304.0
2015-12-29   30931243.0   3943691.0   731152.0   2406290.0
2015-12-30   25213777.0   2989367.0   670175.0   3697921.0
2015-12-31   40912316.0   3462077.0   695884.0   2715038.0

[252 rows x 4 columns]

### BONUS: Create your own question and answer it.